.people
    &__wrapper
        display: grid
        grid-template-columns: repeat(auto-fit, 400px)
        justify-content: space-around
        column-gap: 30px
    &__card
        width: 400px        
        display: flex
        flex-direction: row
        margin-bottom: 20px
    &__img
        width: 200px
        height: 300px
        object-fit: cover
    &__text
        font-size: 20px
        margin-top: 20px
        margin-left: 20px
        span
            font-weight: bold